<!DOCTYPE html>
<html>
<head>
    <title>All Orders</title>
</head>
<body>

<h1>All Laundry Orders</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Clothes</th>
        <th>Service</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{ order[0] }}</td>
        <td>{{ order[1] }}</td>
        <td>{{ order[2] }}</td>
        <td>{{ order[3] }}</td>
        <td>{{ order[4] }}</td>
        <td>{{ order[5] }}</td>
        <td>
            <a href="/complete/{{ order[0] }}">Complete</a> |
            <a href="/delete/{{ order[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/">Back to Order Form</a>

</body>
</html>
